body {
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: block;
}

.Grid {
  flex-grow: 1;
  justify-content: flex-start;
  position: absolute;
  top: 31.2vh;
  left: 39.4vw;
}

.Row {
  margin-bottom: 1vh;
}

.Paper {
  height: 70;
  width: 70;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
  border: 1px solid red;
  background: transparent;
  overflow: visible;
  position: relative;
}

.InfoDiv {
  width: 25vw;
  height: 22vh;
  background-color: #212121;
  color: white;
  position: absolute;
  top: -20vh;
}

.Visible {
  visibility: visible !important;
}

.Hidden {
  visibility: hidden !important;
}

.Hidden:hover {
  visibility: visible !important;
}